annotated-doc
annotated-types
anyio
click
exceptiongroup
fastapi[standard]
h11
idna
pydantic
pydantic_core
starlette
typing-inspection
typing_extensions
uvicorn
python-jose[cryptography]
passlib[argon2]
python-multipart
sqlalchemy 
psycopg2-binary
python-dotenv
alembic
